/* Basic Reset */
* {  
  font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}
body { 
  background: #33322f; 
  overflow-x: hidden; 
}

/* Gallery */
.gallery { 
	position: relative; 
	width: 490px;
  	height: 306px; 
	margin: auto; 
	overflow: hidden; 
	list-style: none;
	border-radius: 20px;
}
.gallery img { 
	display: block; 
	border-radius: 20px;
	float: left; 
}
.gallery ul {
	list-style: none;
}
.gallery ul li.each { 
	position: relative; 
	float: left;
	transition: all .8s; 
}
.gallery ul li.each, .gallery ul li.each img { 
	height: 0px; 
}
.gallery ul li.each img { 
	opacity: 0.5; 
	transition: all .4s; 
}
.gallery ul li.each.active, .gallery ul li.each.active img { 
	height: 306px; 
}
.gallery ul li.each.active img { 
	opacity: 1; 
}
/* Direction */
.direction {
	position: absolute; 
	top: 50%;
 	margin-top: -74px; 
	background: rgba(184, 4, 11, 0.81);
	width: 158px;
 	height: 158px;
	display: block;
	transform: rotate(45deg);
	border-radius: 40px;
 	z-index: 9999;
  	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
	cursor: pointer;
}

.direction span {
	position: absolute;
  	color: black;
	font: 40px "Lato", sans-serif;
	text-shadow:
		0 1px rgba(0,0,0,0.2),
		0 2px rgba(0,0,0,0.2),
		0 3px rgba(0,0,0,0.2),
		0 4px rgba(0,0,0,0.2),
		0 5px rgba(0,0,0,0.2);
	transform: rotate(-45deg);
}

.direction-next { 
	right: -100px;
}

.direction-next span {
	top: 90px;
  	left: 25px;
}
.direction-prev {
	left: -100px;
}
.direction-prev span {
	top: 20px;
  	right: 35px;
}
h1 {
	font-family: 'Lobster', Georgia, Times, serif;
	font-size: 70px;
	line-height: 100px;
	text-align: center;
	margin-bottom: 40px;
	margin-top: 40px;
}
p {
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 25px;
}